<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>
        <%= product.name %>
    </title>
</head>

<body class="d-flex flex-column">
    <div class="row">
        <div class="col-6 offset-3 mt-3">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h1 class="card-title text-center">
                            <%= product.name %>
                        </h1>
                    </div>
                    <div>
                        <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-primary btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: $<%=product.price%>
                    </li>
                    <li class="list-group-item">Category: <a href="/products?category=<%=product.category%>">
                            <%=product.category%>
                        </a></li>
                </ul>
                <div class="btn-group card-body">
                    <a href="/products" class="btn btn-outline-primary .text-nowrap">Go back</a>
                    <a href="/products/<%=product._id%>/edit " class="btn btn-outline-primary .text-nowrap">Edit
                        Product</a>
                </div>
            </div>
        </div>

</body>

</html>